node_modules/
chrome_profile/
mingit/
mingit_git/
mingit.zip
*.log
.system_generated/
pending_work.json
credentials.json
telegram_config.json
ethical_whitelist.json
agents_directory.json
agent_log.txt
browser_analysis.txt
dashboard_analysis.txt
github_check_analysis.txt
jobs_board_analysis.txt
referrals_analysis.txt
